<!-- Form to create a comment -->

<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
    <%= form.hidden_field :commenter, value: current_user.username %>
  <p>
    <%= form.text_area :body, placeholder: 'Enter Commment' %>
  </p>
  <p>
    <%= form.submit %><br>
    <i> Your comment must be under 150 characters </i>
  </p>
<% end %>
