<center>
  <div id = "welcome_main">
    <article id = "welcome_article">

      <h2>Welcome</h2>

      <%= button_to 'Sign Up!', new_user_registration_path, :method => "get", id: "welcome_button" %>
      <p></p>
      <%= button_to 'Sign In!', new_user_session_path, :method => "get", id: "welcome_button" %>

    </article>
  </div>
</center>
