<center>
  <article id = "create_article">
    <div id = "new_post_main">
      <h2>Edit Post</h2>
      <!-- form used to create posts: calls _postCreateForm.html.erb -->
      <%= render 'posts/postCreateForm' %>

      <%= link_to 'Cancel', post_path(@post), id: "cancel_link" %>
    </div>
  </article>
</center>
