<!-- this is the main page of the website. All posts are displayed here -->

<section id = "recents_title">
  <h1> Recents </h1>
</section>

<article>
  <table id = "recents_display">
    <tr>
    </tr>
    <% @posts.reverse_each do |post| %>
      <tr>
        <td>
          <%= link_to avatar_for(post.user, size: 35), post.user %><%= post.user.username %>:
          <%= link_to post.title, post_path(post), id: "recents_display_title_links" %>
          <p id = "recents_display_body">
            <%= post.body %>
          </p>
        </td>
      </tr>
    <% end %>
  </table>
</article>
