// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$main_color: #C5BEC4;
$positive_function_color: #8D92F1;
$negative_function_color: #F28F85;
$neutral_function_color: #CDC7C7;
$link_color: #620859;
$font_fam: 'Raleway', sans-serif;
$font_size: 14px;
$button_margins: 10px 15px;
$button_font_size: 14px;
$button_border_radius: 8px;
$border: 2px solid $main_color;
$margin_size_large: 10%;
$margin_size_small: 5%;

//for both Posts/index.html.erb and Posts/explore.html.erb
#post_title_link{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#post_link{
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#horizontal_ruling{
  color: $main_color;
}

img.post_image{
  max-width: 500px;
  max-height: 500px;
  width: 75%;
  height: 75%;
}

//Also applies to Users/Search.html.erb
#search_bar{
  width: 400px;
  height: 30px;
  font-family: $font_fam;
  font-size: $font_size;
}

//for Posts/show.html.erb
#comments_main{
  height: 500px;
  overflow: auto;
  width: 300px;
}

#display_table{
  width: 500px;
}

#show_post_nav{
  width: 700px;
  padding-top: 25px;
}

#show_post_header{
  width: 500px;
}

#post_function_button{
  background-color: $main_color;
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $button_font_size;
  border-radius: $button_border_radius;
}

#post_function_button_negative{
  background-color: $negative_function_color;
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $button_font_size;
  border-radius: $button_border_radius;
}

//for Posts/new.html.erb and Posts/_postCreateForm.html.erb
#create_article{
  width: 600px;
  height: 600px;
  border: $border;
  border-radius: 20px;
  margin-top: $margin_size_small;
  margin-bottom: $margin_size_small;
  padding: 20px;
}

#new_post_main{
  margin-top: 35px;
  height: 530px;
  overflow: auto;
  width: 450px;
}

#title_input_posts{
  width: 500px;
  min-width: 400px;
  max-width: 400px;
  height: 30px;
  font-family: $font_fam;
  font-size: $font_size;
}

#file_link{
  font-size: $font_size;
  font-family: $font_fam;
}

#body_input_posts{
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 200px;
  font-family: $font_fam;
  font-size: $font_size;
}
