// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//for Users/search.html.erb
$main_color: #EDECEC;
$positive_function_color: #8D92F1;
$negative_function_color: #F28F85;
$neutral_function_color: #CDC7C7;
$link_color: #620859;
$font_fam: 'Raleway', sans-serif;
$font_size: 16px;
$button_margins: 10px 15px;
$button_font_size: 14px;
$button_border_radius: 8px;
$border: 2px solid $main_color;
$margin_size_large: 10%;
$margin_size_small: 5%;

#back_link{
  text-align: left;
  text-decoration: none;
  font-size: $font_size;
}

#user_link{
  text-align: left;
  text-decoration: none;
  font-size: $font_size;
  color: black;
}

//for devise/registrations/edit.html.erb
#edit_user_article{
  margin-top: $margin_size_small;
  margin-bottom: $margin_size_small;
  width: 500px;
  align-items: center;
  text-align: center;
  border: $border;
  border-radius: 20px;
  height: 900px;
  padding: 20px;
  background-color: $main_color;
}

#edit_user_main{
  height: 750px;
  overflow: auto;
}

#delete_account_button{
  background-color: $negative_function_color;
  border: none;
  width: 370px;
  height: 20px;
  padding: $button_margins;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $button_font_size;
  border-radius: $button_border_radius;
}

//for Users/show.html.erb
#access_follow_info_link{
  text-decoration: none;
  font-size: $font_size;
  font-family: $font_fam;
  color: black;
}

#function_link_table{
  width: 500px;
  padding: 10px;
}

#edit_user_button{
  background-color: $neutral_function_color;
  border: none;
  color: white;
  padding: $button_margins;
  width: 90px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $button_font_size;
  border-radius: $button_border_radius;
}

#logout_button{
  background-color: $negative_function_color;
  border: none;
  color: white;
  padding: $button_margins;
  width: 90px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $button_font_size;
  border-radius: $button_border_radius;
}

//for Users/_followButton.html.erb
#follow_button_negative{
  background-color: $negative_function_color;
  border: none;
  color: white;
  padding: $button_margins;
  width: 90px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $button_font_size;
  border-radius: $button_border_radius;
}

#follow_button_positive{
  background-color: $positive_function_color;
  border: none;
  color: white;
  padding: $button_margins;
  width: 90px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $button_font_size;
  border-radius: $button_border_radius;
}
